<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
    </head>
    <body id="body" onload="onLoadInit();">
        <div class="header">
            <h1>Qblog</h1>
        </div>
        <script
            type="text/x-handlebars-template"
            id="title-inner-template"
        >
            Edit {{name}}
        </script>

        <script
            type="text/x-handlebars-template"
            id="body-inner-template"
        >
            <div class="form">
                <h2>
                    Edit {{name}}
                </h2>
                <div>
                    <h3>
                        Posts
                    </h3>
                    <div class="normal-button-container">
                        <a
                            class="normal-button"
                            href="././new-post-or-edit-post?blogKey={{key}}"
                        >
                            <h4>New</h4>
                        </a>
                    </div>
                </div>
                <div id="post-list">
                    <ul>
                        {{#each posts}}
                        <li>
                            <h4>
                                <a
                                    href="./new-post-or-edit-post?blogKey={{../key}}&postKey={{@key}}"
                                >
                                    {{title}}
                                </a>
                            </h4>
                        </li>
                        {{else}}
                        <li>
                            <h4>
                                You don't have any posts yet!
                            </h4>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </script>

        <script src="./dist/js/edit-blog.bundle.js" charset="utf-8"></script>
    </body>
</html>
