<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
    </head>
    <body id="body" onload="onLoadInit();">
        <script
            type="text/x-handlebars-template"
            id="title-inner-template"
        >
            Edit {{name}}
        </script>

        <script
            type="text/x-handlebars-template"
            id="body-inner-template"
        >
            <div>
                <h1>Edit {{name}}</h1>
            </div>
            <div>
                <h2>
                    Posts
                    <a href="./new-post?blogKey={{key}}">New</a>
                </h2>
                <ul id="post-list">
                    {{#each posts}}
                    <li>
                        <h3>
                            <a href="./edit-post/{{@key}}">
                                {{title}}
                            </a>
                        </h3>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </script>

        <script src="./dist/js/edit-blog.bundle.js" charset="utf-8"></script>
    </body>
</html>
