<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
    </head>
    <body id="body" onload="onLoadInit();">
        <script
            type="text/x-handlebars-template"
            id="title-inner-template"
        >
            {{name}}
        </script>

        <script
            type="text/x-handlebars-template"
            id="body-inner-template"
        >
            <div>
                <h1>{{name}}</h1>
            </div>
            <div>
                <h3>
                    <a
                        href="./view-post?blogKey={{key}}&postKey={{lookup posts featuredPostKey}}"
                    >
                        {{lookup (lookup posts featuredPostKey) 'title'}}
                    </a>
                </h3>
                <p>
                    {{lookup (lookup posts featuredPostKey) 'body'}}
                </p>
                <ul id="not-featured-post-list">
                    {{#each sortedNotFeaturedPostKeys}}
                    <li>
                        <h3>
                            <img
                                src="{{lookup (lookup ../posts this) 'featuredImageSource'}}"
                            />
                            <a
                                href="./view-post?blogKey={{../key}}&postKey={{this}}"
                            >
                                {{lookup (lookup ../posts this) 'title'}}
                            </a>
                        </h3>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </script>

        <script src="./dist/js/view-blog.bundle.js" charset="utf-8"></script>
    </body>
</html>
